{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsStorage": "",
    "FUNCTION_AUTH_LEVEL": "anonymous"
  },
  "Host": {
    "LocalHttpPort": 7071,
    "CORS": "*"
  }
}
